{% load static %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Humanitarian and Disaster Relief -- IMF Giving Together</title>
<meta name="Creator" content="International Monetary Fund" />
<meta name="Subject" content="" />
<meta name="Description" content="IMF Giving Together coordinates the IMF's philanthropic and community service efforts. It seeks opportunities to make the IMF a good neighbor and responsible civic entity through a holistic approach, by combining the resources of IMF Giving Together, INVOLVE, and partnerships with the community." />
<meta name="Speaker" content="" />
<meta name="Date" content="2006-05-16" />
<meta name="Type" content="" />
<meta name="Country" content="" />
<meta name="ISOCODE" content="" />
<meta name="Region" content="" />
<meta name="Keywords" content="" />
<meta name="Language" content="eng" />
<link href="https://www.imf.org/external/07/images/imf_seal.ico" type="image/ico" rel="Shortcut Icon" />
<link rel="stylesheet" href="{% static 'x10/s.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'x10/print.css' %}" type="text/css" media="print" />
<!-- NOINDEX -->
<!-- start eng/hdscript.txt -->
<script type="text/javascript">

//Clear inherited frames
if (top.frames.length!=0)
top.location=self.document.location;
// unhide -->
</script>


<!-- Commenting the Old Code -->
<!-- start s_code.js-->
    <!-- SiteCatalyst code version: H.12.
    Copyright 1997-2007 Omniture, Inc. More info available at
    http://www.omniture.com -->
 <!--   <script type="text/javascript" language="JavaScript" src="/external/x10/ssi/s_code.js"></script>
    <script type="text/javascript" language="JavaScript">
     /* You may give each page an identifying name, server, and channel on
     the next lines. */
     s.pageName=""
     
     
     /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
     var s_code=s.t();
     
     if(s_code)document.write(s_code)</script> -->
    <!-- End SiteCatalyst code version: H.12. -->
    <!-- stop s_code.js -->
    <script type="text/javascript" language="JavaScript" src="{% static 'x10/ssi/gatag.js' %}"></script> 
    <!-- Start Google Analytics Code -->
<script type="text/javascript">    
var _gaq = _gaq || [];   
_gaq.push(['_setAccount', 'UA-3984706-1']);   
_gaq.push(['_trackPageview']);   

(function() {     
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';     
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);   })();  
</script>
<!-- End Google Analytics Code -->
<!--// ForeSee Production Embed Script v2.00 Start-->
<Script type="text/javascript">
// ForeSee Production Embed Script v2.00
// DO NOT MODIFY BELOW THIS LINE *****************************************
;(function (g) {
var d = document, am = d.createElement('script'), h = d.head || d.getElementsByTagName("head")[0], fsr = 'fsReady',
aex = {
  "src": "//gateway.foresee.com/sites/imf-org/production/gateway.min.js",
  "type": "text/javascript",
  "async": "true",
  "data-vendor": "fs",
  "data-role": "gateway"
};
for (var attr in aex){am.setAttribute(attr, aex[attr]);}h.appendChild(am);g[fsr] = function () {var aT = '__' + fsr + '_stk__';g[aT] = g[aT] || [];g[aT].push(arguments);};
})(window);
// DO NOT MODIFY ABOVE THIS LINE *****************************************
</script>
<!--// ForeSee Production Embed Script v2.00 End-->
<script language="JavaScript" type="text/javascript" src=".{% static 'x10/ssi/googlepdf.js' %}"></script>

<!-- /NOINDEX -->

 <!-- Omniture Tracking DTM Script begin--> 

 <script src="{% static 'assets.adobedtm.com/c7b988f076dc93cc20c734bc51e87dde0b81f134/satelliteLib-834e3fe4ac4ea890c36d061e19fc6cfc1b5dc5d0.js' %}"></script> 
 <!-- Omniture Tracking DTM Script end -->
</head>
<body bgcolor="#ffffff" class="default">
<!-- NOINDEX -->
<!-- start eng/headasub.txt -->
<a name="top" id="top"></a>

<div id="container" class="aboutSub">
	<div id="header">
		<h1 class="logo"><a href="https://www.imf.org/" title="International Monetary Fund"><img src="{% static '07/images/imf.gif' %}" alt="International Monetary Fund" /></a></h1>

		
		<form id="searchform" method="post" onSubmit="window.location.href = 'https://www.imf.org/en/search#q='+getElementById('NewQuery').value+'&sort=relevancy';return false;">
			<fieldset class="left">
				<legend>Search</legend>
				<label for="s"><span>Search IMF</span></label>
				<input id="NewQuery" name="NewQuery" class="text search" value="" />	
			</fieldset>
			<input type="image" src="{% static '07/images/search.gif' %}" alt="Search" class="right" name="submit" />

			<fieldset id="searchoptions">
				<input type="radio" class="radio" /> <label>Entire Site</label> 
				<input type="radio" class="radio" /> <label>IMF Survey Magazine</label>	
			</fieldset>
		</form>
		<div id="feedbk"><a href="http://www.cvent.com/d/c4qnvz?lang=en" target="_blank"><img src="{% static '12/images/header/feedback_x10.png' %}" alt="Please send us your feedback" title="Please send us your feedback" /></a></div>
	</div>

		<div id="navmain">

		<ul>
			<li><a href="{% url 'home:grants' %}" title="Home" class="home">Home</a></li>
	</ul>
	</div>

 
<!-- stop eng/headasub.txt -->
<!-- /NOINDEX -->

 <!-- Omniture Tracking DTM Script begin--> 
 <script src="{% static 'assets.adobedtm.com/c7b988f076dc93cc20c734bc51e87dde0b81f134/satelliteLib-834e3fe4ac4ea890c36d061e19fc6cfc1b5dc5d0.js' %}"></script> 
 <!-- Omniture Tracking DTM Script end -->
<table width="590" border="0" cellpadding="0" cellspacing="0" align="center">
<tr><td width="130" valign="top">
<div class="menu"><ul>
<li><a href="{% url 'home:gandd' %}">IMF Grants and Donations</a></li>
<!--<li><a href="giving.htm">Annual Giving Campaign</a></li>-->
<li>Humanitarian and Disaster Relief</li>
<li><a href="{% url 'home:involve' %}">Volunteering and Fundraising</a></li>
<li><a href="{% url 'home:recipients' %}">Past Recipients of Grants</a></li>
<li class="noDots">Contact Us: <small><a href="mailto:imfgivingtogether@imf-grants.org">imfgivingtogether@imf-grants.org</a></small></li>
<li><br />
<strong>See also:</strong><br /><br /><a href="https://www.imf.org/external/np/exr/center/index.htm">IMF Center</a></li>
<li class="noDots"><a href="https://www.imf.org/external/np/exr/cs/eng/index.asp">IMF Civil Society Newsletter</a></li>
</ul>
</div></td>
<td width="460" valign="top"><div class="content" id="content">
<!-- content begins -->
<small>IMF Giving Together</small>
<h1>Humanitarian and Disaster Relief</h1>
<span id="dateline">Last Updated: July 28, 2017</span>
<p>The international staff of the IMF &#8211;from over 140 countries&#8211; regularly mobilizes funds for disasters around the world. The IMF matches employee and retiree donations for developing countries at 50 cents to the dollar.  </p>
<p>Since this matching program began in 1998, over $1.2 million has gone to assist the victims of floods, earthquakes, famine, and disease, and to support other humanitarian needs. We partner with <a href="#agencies">relief agencies</a> to deliver help to the neediest.</p>
<p>In 2004 the IMF received the <strong>American Red Cross ' Circle of Humanitarian Award</strong> for its fundraising efforts. </p>
<h2>2006</h2>
<p><strong>Mudslide, Philippines</strong> - Employees raised $12,529, sent through Feed the Hungry, Inc. </p>
<p>On February 17 2006, a landslide of mud 40 meters deep caused by non stop heavy rains, buried an entire village in Barangay Guinsaugon, in the town of St. Bernard, Southern Leyte province in the Philippines. The landslide buried some 500 houses and an elementary school with 246 school children. The population of the town was 1,875 and over 1,000 were reported missing or dead. IMF employees raised $12,529 (donations plus matching grant.) Funds were sent to the Philippines through Feed the Hungry, Inc.  </p>
<h2>2005</h2>
<p><strong>Earthquake, Pakistan and India</strong> &#8211; Employees raised $67,870, sent through Edhi, Doctors without Borders and OXFAM.</p>
<p>On October 8 2005, an earthquake measuring 7.6 on the Richter scale struck in Northern Pakistan and Kashmir causing widespread devastation. As cold winter approached, an estimated 3.3 million homeless people were forced to camp in the open with little food and insufficient access to clean water, in the Himalayan region. IMF employees raised $67,870 (donations plus matching grant.) Funds were sent to India and Pakistan through Edhi, Doctors without Borders and OXFAM.</p>
<p><strong>Hurricane Stan, Guatemala and El Salvador</strong> &#8211; Employees raised $21,268, sent through CARE and CECI.</p>
<p>In the first week of October 2005, torrential rains from Hurricane Stan caused landslides and flooding which killed some 650 persons and left 380 missing. The worst hit communities were declared mass graveyards. Hundreds of people lost their homes, income and sources of clean drinking water. IMF employees raised $21,268 (donations plus matching grant.) Funds were sent to the El Salvador and Guatemala through CARE and CECI.</p>
<p><strong>Hurricane Katrina, United States</strong> &#8211; Employees raised $39,899, sent through the American Red Cross.</p>
<p>On August 29 2006, Hurricane Katrina came ashore Grand Isle, Louisiana, claiming 1,417 lives and leaving around 1,280 missing. More than one million people were directly affected by the hurricane which destroyed more than 355,000 houses and buildings, left survivors without jobs and caused severe environmental health risks for survivors and relief workers. IMF employees raised $39,899. Funds were sent through the American Red Cross.</p>
<p><strong>Famine, Niger and Mali</strong> &#8211; Employees raised $22,805, sent through Oxfam America. </p>
<p>Niger and northern Mali have been under a severe food crisis due to a persistent drought. More than 3.5 million people continue at risk of famine in Niger alone. IMF employees raised $22,805 (donations plus matching grant.) Funds were sent to Mali and Niger through Oxfam America.</p>
<p>&nbsp;</p>
<h2>Past Relief Fundraisers</h2>
<p><strong>2004</strong></p>
<p>Tsunami, South Asia &#8211; $309,710 <br />
Hurricane Ivan, Caribbean &#8211; $11,586<br />
Attack at elementary school, Russia &#8211; $9,000<br />
Fire, Paraguay - $7,191 <br />
Armed conflict, Sudan - $11,317<br />
Floods, Dominican Republic and Haiti &#8211; $11,210<br />
Earthquake, Morocco - $13,827<br />
Earthquake, Iran - $39,280</p>
<p>&nbsp;</p>
<h2><a name="agencies" id="agencies"></a> Relief Agencies with whom We Partnered: </h2>
<div class="plain"><table width="460" border="0" cellspacing="0" cellpadding="0">
<tr>
<td height="55"><a
href="http://www.redcross.org/">American Red Cross</a></td>
<td><p><img src="{% static 'images/redcross.gif' %}" alt="American Red Cross" width="69" height="30" /></td>
</tr>
<tr>
<td height="55"><a
href="http://www.care.org/">CARE</a></td>
<td><p><img src="{% static 'images/care.jpg' %}" alt="CARE" width="42" height="49" /></td>
</tr>
<tr>
<td height="55"><a href="http://www.ceci.ca/index.asp">CECI</a></td>
<td><p><img src="{% static 'images/ceci.gif' %}" alt="CECI" width="44" height="45" /></td>
</tr>
<tr>
<td height="55"><a href="http://www.doctorswithoutborders.org/">Doctors Without Borders</a></td>
<td><p><img src="{% static 'images/doctors.gif' %}" alt="Doctors Without Borders" width="81" height="29" /></td>
</tr>
<tr>
<td height="55"><a href="http://www.paks.net/edhi-foundation">Edhi Foundation</a></td>
<td><p><img src="{% static 'images/edhi.gif' %}" alt="Edhi Foundation" width="59" height="45" /></td>
</tr>
<tr>
<td height="55"><a href="http://www.rcdiocese-calgary.ab.ca/feedthehungry/">Feed the Hungry</a></td>
<td><p><img src="{% static 'images/fdhungry.jpg' %}" alt="Feed the Hungry" width="48" height="55" /></td>
</tr>
<tr>
<td height="55"><a href="http://www.ifrc.org/">International Federation of Red Cross and Red Crescent</a></td>
<td><p><img src="{% static 'images/crosscre.gif' %}" alt="International Federation of Red Cross and Red Crescent" width="68" height="42" /></td>
</tr>
<tr>
<td height="55"><a href="http://www.oxfamamerica.org/">Oxfam America</a></td>
<td><p><img src="{% static 'images/oxfam.gif' %}" alt="Oxfam" width="45" height="45" /></td>
</tr>'
<tr>
<td height="55"><a href="http://www.unicef.org/index.html">UNICEF</a></td>
<td><p><img src="{% static 'images/unicef.jpg' %}" alt="UNICEF" width="47" height="49" /></td>
</tr>
</table>
</div>
<!-- /content -->
</div>
<br clear="all" />
</td>
</tr>
</table>	
<!-- NOINDEX -->
<!-- start eng/footasub.txt -->
<div id="toplink"><a href="#top" class="topbutton" title="Back to top"></a></div>
<div id="footBorder">
	<div id="footer">
		<ul>
			<li><a href="https://www.imf.org/external/" title="Home" class="homeBtm">Home</a></li>
			<li><a href="https://www.imf.org/external/what/whatsnewenglish/what.aspx" title="Whats New" class="whatsNewBtm">What's New</a></li>
			<li><a href="https://www.imf.org/external/sitemap.htm" title="Site Map" class="mapBtm">Site Map</a></li>
			<li><a href="https://www.imf.org/external/siteindex.htm" title="Site Index" class="siteIndexBtm">Site Index</a></li>
			<li><a href="https://www.imf.org/external/about.htm" title="About the IMF" class="aboutBtm">About the IMF</a></li>
			<li><a href="https://www.imf.org/external/research/index.aspx" title="Research at the IMF" class="resIMFBtm">Research</a></li>
			<li><a href="http://www.imf.org/external/country/index.htm" title="Country Info" class="countryInfoBtm">Country Info</a></li>
			<li><a href="https://www.imf.org/external/news.htm" title="News" class="newsBtm">News</a></li>
			<li><a href="https://www.imf.org/external/mmedia/index.aspx" title="Videos" class="videosBtm">Videos</a></li>
		</ul>
		<ul>
			<li><a href="https://www.imf.org/external/data.htm" title="Data and Statistic" class="dataStatsBtm">Data and Statistics</a></li>
			<li><a href="https://www.imf.org/external/pubind.htm" title="Publications" class="pubsBtm">Publications</a></li>
			<li><a href="https://www.imf.org/external/terms.htm" title="Copyright and Usage" class="copyrightBtm">Copyright and Usage</a></li>
			<li><a href="https://www.imf.org/external/privacy.htm" title="Privacy Policy" class="privacyBtm">Privacy Policy</a></li>
			<li><a href="https://www.imf.org/external/np/exr/contacts/contacts.aspx" title="Contact Us" class="contactBtm">How to Contact Us</a></li>
		</ul>
		<ul id="navlanguage">
			<li lang="ar" xml:lang="ar"><a href="https://www.imf.org/external/arabic/index.htm" title="Arabic">&#1593;&#1585;&#1576;&#1610;</a></li>
			<li lang="ch" xml:lang="ch"><a href="https://www.imf.org/external/chinese/index.htm" title="Chinese">&#20013;&#25991;</a></li>
			<li lang="fr" xml:lang="fr"><a href="https://www.imf.org/external/french/index.htm" title="French">Fran&#231;ais</a></li>
			<li lang="ja" xml:lang="ja"><a href="https://www.imf.org/external/japanese/index.htm" title="Japanese">&#26085;&#26412;&#35486;</a></li>
			<li lang="ru" xml:lang="ru"><a href="https://www.imf.org/external/russian/index.htm" title="Russian">&#1056;&#1091;&#1089;&#1089;&#1082;&#1080;&#1081;</a></li>
			<li lang="es" xml:lang="es"><a href="https://www.imf.org/external/spanish/index.htm" title="Spanish" class="last">Espa&#241;ol</a></li>
		</ul>
	</div>
</div>
</div>
<!-- stop eng/footasub.txt -->
<!-- /NOINDEX -->



 <!--Omniture Tracking Code--> 
 <script language="JavaScript" type="text/javascript" src="{% static  'OmnitureCommonScripts/CommonScripts.js' %}"></script> 
 <script type="text/javascript">_satellite.pageBottom();</script> 
 <!--Omniture Tracking Code End-->
</body>

<!-- Mirrored from www.imf.org/external/np/cpac/relief.htm by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 14 Jun 2020 12:50:21 GMT -->
</html>
